body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-green-web-color-solid-color-background.jpg');
    text-align: center;
    color: whitesmoke;
    margin-top: 150px;
}
   
h1{
    color: goldenrod;
   
}


#message-el{
    color: whitesmoke;
    font-size:larger;
    font-weight: bold;
    
}


#footer{
    color: rgb(0, 255, 255);
}


p{
    font-size: medium;
    font: 1em sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

button{
    background-color: goldenrod;
    color: #016f32;
    width: 150px;
    font-weight: bold;
    border: none;
    border-radius: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}