body
{
    font-family: Arial, sans-serif;
    background-image: url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-green-web-color-solid-color-background.jpg');
    text-align: center;
    color: whitesmoke;
    margin-top: 150px;
}
   
h1{
    color: goldenrod;
   
}


#message-el{
    color: rgba(46, 11, 242, 0.966);
    font-size: 20px;
    font-weight: bold;
}


#footer{
    color: rgb(0, 255, 255);
}